﻿@using cookwithme.Models
@model IDictionary<Category, Dish>
@{
    var currentDishInRow = 0;
    var numberOfDishes = Model.Count;
}
<div class="container">
    @Html.Raw("<div class='row'>")
    @foreach (var item in Model)
    {
        if (currentDishInRow == 4)
        {
            currentDishInRow = 0;
            @Html.Raw("</div>")
            @Html.Raw("<div class='row'>")
        }
        currentDishInRow++;
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="@Url.Action("Details", "Categories", new { id = item.Key.ID })" title="@item.Key.name">
                @if (item.Value != null)
                {
                    <img class="img-responsive" src="@Url.Action("GetThumb", "Dishes", new { item.Value.ID })" alt="">

                }
                else
                {
                    <img class="img-responsive" src="~/DAL/ImageSeed/320x150.gif" alt="" />
                }
            </a>
        </div>
    }
    @if (currentDishInRow != 0)
    {
        @Html.Raw("</div>")
    }
</div>
