﻿@model IEnumerable<KeyValuePair<cookwithme.Models.Dish, double>>
@{
    var counter = 1;
}
<div class="panel panel-default">
    <div class="panel-heading">Najlepiej oceniane</div>
    <table class="table tablesorter" id="dishes_table">
        <thead>
            <tr>
                <th></th>
                <th>Potrawa</th>
                <th>Średnia ocen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@counter</th>
                    <th>@Html.ActionLink(item.Key.title, "Details", "Dishes", new { id = item.Key.ID }, new { })</th>
                    <th>@item.Value</th>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>