﻿@model IEnumerable<KeyValuePair<cookwithme.Models.ApplicationUser, int>>
@{
    var counter = 1;
}
<div class="panel panel-default">
    <div class="panel-heading">Najwięcej dodanych potraw</div>
    <table class="table tablesorter" id="dishes_table">
        <thead>
            <tr>
                <th></th>
                <th>Potrawa</th>
                <th>Dodanych</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@counter</th>
                    <th>@item.Key.UserName</th>
                    <th>@item.Value</th>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>