﻿@model cookwithme.Models.Dish

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Opublikowany</th>
                <th>Autor</th>
                <th>Data dodania</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Model.ID</th>
                <th>@Model.title</th>
                @if (Model.accepted)
                {
                    <th><span class="glyphicon glyphicon-plus success"></span></th>
                }
                else
                {
                    <th><span class="glyphicon glyphicon-minus success"></span></th>
                }
                <th>@Model.user.UserName</th>
                <th>@Model.created</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <p>Czy jesteś pewny, że chcesz usunąć tę potrawę?&nbsp;
        <input type="submit" value="Usuń" class="btn btn-danger" />
        &nbsp;lub&nbsp;@Html.ActionLink("wróć do listy potraw.", "Manage", "Dishes", new { @class="btn btn-default" })
        </p>
    </div>
}

