﻿@model cookwithme.Models.Dish
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.title;
    var tmp = Url.Action("GetImage", "Dishes", new { Model.ID });
    var komentarze = Model.comments.OrderByDescending(t => t.added);

    bool IsLogged = User.Identity.IsAuthenticated;
}
<script type="text/javascript" src="~/Scripts/bootstrap-rating.js"></script>
<div class="row">
    <div class="col-md-3">
        <p class="lead">Kategorie</p>
        <div class="list-group">
            @Html.Action("CategoryList", "Categories", new { category = Model.CategoryID })
        </div>
    </div>
    <div class="col-md-9">

        <div class="thumbnail">
            <img class="img-responsive" src="@Url.Action("GetImage", "Dishes", new { Model.ID })" alt="">
            <div class="caption-full">
                @{
                    if (Model.votes.Count != 0)
                    {
                        var votesAverage = Model.votes.Average(t => t.ocena);
                        <div class="pull-right">
                            <span title="Średnia ocen: @votesAverage">@Html.Action("StarsForDish", "Partials", new { average = votesAverage })</span>
                        </div>
                    }
                }
                <h4>
                    @Model.title
                </h4>
                <hr class="divider">
                <div>
                    @Html.Raw(Model.ingredients)
                </div>
                <hr class="divider">
                <div>
                    @Html.Raw(Model.description)
                </div>
                <hr class="divider">
                <div class="ratings">
                    <div class="pull-right">@Model.comments.Count @Library.StrFunc.FormaSlowaKomentarze(Model.comments.Count)</div>
                    @if (IsLogged)
                    {
                        if (ViewBag.VoteOfCurrentUser != null)
                        {
                            <div id="votingLabel">Zmień głos: </div><div class="rating" id="rate1"></div>
                        }
                        else
                        {
                            <div id="votingLabel">Zagłosuj: </div><div class="rating" id="rate1"></div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="well" id="comments">
            <div class="row">
                <div class="text-right">
                    @if (IsLogged)
                    {
                        <div class="btn btn-default" style="margin-right:15px;" id="addcomment">Skomentuj</div>
                    }
                    else
                    {
                        @Html.ActionLink("Zaloguj się", "Login", "Account", new { returnURL = Request.Url.LocalPath + "#addcomment" }, new { @class = "btn btn-success", style = "margin-rigth:15px;" }) @:, żeby skomentować.
                }
                </div>
            </div>
            @if (IsLogged)
            {
                <div class="row" id="comment">
                    @using (Html.BeginForm("AddComment", "Dishes", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "margin-left:15px;" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("path", Request.Url.LocalPath)
                        @Html.Hidden("id", Model.ID.ToString())
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" style="width:100%;" id="commentarea" name="comment_content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Wyślij" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            }
            @foreach (var item in komentarze)
            {
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span style="color:blue;">@item.user.UserName</span>
                            @Html.Action("StarsForComment", "Partials", new { comm = item })
                        </div>
                        @*@cookwithme.Controllers.PartialsController.User(item.ApplicationUserID)*@
                        <span class="pull-right" id="comment_time">@Library.DateTimeFunc.TimeElapsed(item.added)</span>
                        <p>@item.content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () { $("#comment").hide() });
    $("#addcomment").click(function () {
        $("#comment").toggle("fast", function () {
            $("#addcomment").text($("#comment").is(":visible") ? "Anuluj" : "Skomentuj");
            $("#comment").is(":visible") ? $("#commentarea").focus() : null;
        });
    });
</script>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
@{
    int currentVote = 0;
    if (ViewBag.VoteOfCurrentUser != null)
    {
        currentVote = (ViewBag.VoteOfCurrentUser as cookwithme.Models.Vote).ocena;
    }
}
<script type="text/javascript">
    initializeRatings();
    function initializeRatings() {
        $('#rate1').shieldRating({
            max: 5,
            step: 1,
            value: @currentVote,
            markPreset: false
        });
    }
</script>
<script type="text/javascript">
    $("#rate1").click(function () {
        $.ajax({
            url: '/Potrawy/@Model.ID/Ocen',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({ vote: $('#rate1').swidget().value() }),
        });
        $('#votingLabel').html("Dziękujemy!");
        $(this).hide();
    });
</script>