﻿@model IEnumerable<cookwithme.Models.Dish>
@using Library
@{
    var numberOfDishes = (Model as IList<cookwithme.Models.Dish>).Count;
    var currentDishInRow = 0;
    double votesAverage = 0;
}
@Html.Raw("<div class='row'>")
@foreach (var item in Model)
{
    if (currentDishInRow == 3)
    {
        currentDishInRow = 0;
        @Html.Raw("</div>")
        @Html.Raw("<div class='row'>")
    }
    currentDishInRow++;
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Action("GetThumb", "Dishes", new { item.ID })" alt="@item.title">
            <div class="caption">
                <h4>
                    <a href="#">@Html.ActionLink(item.title, "Details", new { id = item.ID })</a>
                </h4>
                <p>Opis</p>
            </div>
            <div class="ratings">
                <p class="pull-right">@item.comments.Count @StrFunc.FormaSlowaKomentarze(item.comments.Count)</p>
                <p>
                    @if (item.votes.Count != 0)
                    {
                        votesAverage = item.votes.Average(t => t.ocena);
                    }
                    else
                    {
                        votesAverage = 0;
                    }
                    @Html.Action("StarsForDish", "Partials", new { average = votesAverage })
                </p>
            </div>
        </div>
    </div>
}
@if (currentDishInRow != 0)
{
    @Html.Raw("</div>")
}
