﻿@model IDictionary<cookwithme.Models.Dish, int>
@using Library

@if (Model.Count == 0)
{
    <h4>Niestety nie znaleziono potraw spełniających podane kryteria.</h4>
}
else
{
    <h4>Liczba znalezionych potraw: @Model.Count</h4>
}
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="@Url.Action("GetThumb", "Dishes", new { item.Key.ID })" alt="@item.Key.title">
            </a>
        </div>
        <div class="col-md-5">
            <h3>@item.Key.title</h3>
            <p>@HttpUtility.HtmlDecode(StrFunc.RemoveHtmlTags(item.Key.description).TruncateLongString(1000))</p>
            <a class="btn btn-primary" href="@Url.Action("Details", "Dishes", new { id = item.Key.ID })">Szczegóły<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr />
}


