﻿@{
    ViewBag.Title = "Strona Główna";
}
<div class="row">
    <div class="col-md-3">
        <p class="lead">Kategorie</p>
        <div class="list-group">
            @Html.Action("CategoryList", "Categories", null)
        </div>
    </div>
    <div class="col-md-9">
        @Html.Action("Carousel", "Partials")
        <div class="center-block" id="loader" title="Trwa wczytywanie..."><img src="~/Images/ajax-loader.gif"/></div>
        <!--PLACE TO DISPLAY DISHES-->
        <div id="Potrawy">

        </div>
        <nav>
            <ul class="pager">
                <li><a href="javascript:;" id="prevPage">Poprzednia</a></li>
                <li><a href="javascript:;" id="nextPage">Następna</a></li>
            </ul>
        </nav>

    </div>

</div>
<script type="text/javascript">
    var currentPage = 1;
    var maxPage = @ViewBag.TotalPages
    $.ajax({
        url: '/Potrawy/Strony/1',
        contentType: 'application/html; charset=utf-8',
        type: 'GET',
        dataType: 'html'
    })
    .success(function (result) {
        $('#loader').hide();
        $('#Potrawy').html(result);
    });
    $("#nextPage").click(function () {
        if (currentPage < maxPage) {
            currentPage++;
            $.ajax({
                url: '/Potrawy/Strony/' + currentPage,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                $('#Potrawy').html(result)
            })
        }
    });
    $("#prevPage").click(function () {
        if (currentPage > 1) {
            currentPage--;

            $.ajax({
                url: '/Potrawy/Strony/' + currentPage,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                $('#Potrawy').html(result)
            })
        }

    });
    var $loading = $('#loader');
    $(document)
      .ajaxStart(function () {
          $loading.show();
          $("#Potrawy").html("");
      })
      .ajaxStop(function () {
          $loading.hide();
      });
</script>