﻿@model IEnumerable<cookwithme.Models.Dish>
@{
    ViewBag.Title = "Zarządzaj potrawami";
}
<div class="panel panel-default">
    <div class="panel-heading">Potrawy</div>
    <table class="table tablesorter" id="dishes_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Opublikowany</th>
                <th>Autor</th>
                <th>Data dodania</th>
                <th>Komentarzy</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ID</th>
                    <th>@Html.ActionLink(item.title, "Details", "Dishes", new { @id = item.ID }, new { @style = "max-width: 300px;" })</th>
                    <th style="max-width: 100px">
                        @if (item.accepted)
                        {
                            <span class="glyphicon glyphicon-plus" title="Opublikowany"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-minus" title="Nieopublikowany"></span>
                        }
                    </th>
                    <th>@item.user.UserName</th>
                    <th>@item.created</th>
                    <th>@item.comments.Count</th>
                    <th style="min-width: 25px;">
                        <a href="@Url.Action("Delete", "Dishes", new { @id = item.ID })"><span class="glyphicon glyphicon-remove" title="Usuń"></span></a>
                        <a href="@Url.Action("Edit", "Dishes", new { @id = item.ID })"><span class="glyphicon glyphicon-edit" title="Edytuj"></span></a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dishes_table").tablesorter();
    }
    );
</script>