﻿@{
    ViewBag.Title = "Wyszukiwarka";
}

<nav class="navbar navbar-default">
    <div class="navbar-form navbar-left" role="search" style="width:600px;">
        <div class="form-group">
            <input id="paramsInput" type="text" class="form-control" placeholder="Czego szukasz?" style="width:500px;">
        </div>
        <button id="startSearching" type="submit" class="btn btn-default">Szukaj</button>
        <div class="form-group">
            <input type="radio" value="title" name="ifTitle" title="Tytuł"><span>Szukaj w tytule </span>
            <input type="radio" value="description" name="ifTitle" title="Opis"><span>Szukaj w opisie </span>
        </div>
    </div>
</nav>
<div class="center-block" id="loader" title="Trwa wczytywanie..."><img src="~/Images/ajax-loader.gif" /></div>

<div id="foundDishes">

</div>





<script>
    $("#startSearching").click(function () {
        find();
    });
    $('#paramsInput').keypress(function (event) {
        if (event.keyCode == 13) {
            find();
        }
    });

    $('input:radio[name=ifTitle]:nth(0)').attr('checked', true);
    var $loading = $('#loader').hide();
    $(document)
      .ajaxStart(function () {
          $loading.show();
          $("#foundDishes").html("");
      })
      .ajaxStop(function () {
          $loading.hide();
      });

    function find() {
        if ($("input[name='ifTitle']:checked").val() == 'title')
            var ifTitle = true;
        else
            var ifTitle = false;

        $.ajax({
            url: '@Url.Action("GetFoundDishes", "Dishes")' + '?param=' + $('#paramsInput').val() + '&ifTitle=' + ifTitle,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            $('#foundDishes').html(result)
        })
    }
</script>


