﻿@model IList<string>

<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                @if (Model.Count == 0)
                {
                    <div class="item active" style="height:300px; overflow:hidden;">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item" style="height:300px; overflow:hidden;">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item" style="height:300px; overflow:hidden;">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <div class="item" style="height:300px; overflow:hidden;">
                            <img class="slide-image" src="@item" alt="">
                        </div>
                    }
                }
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(".item").first().addClass("active");
</script>
