﻿@for (int i = 0; i < ViewBag.Filled; i++)
{
    <span class="glyphicon glyphicon-star"></span>
}
@for (int i = 0; i < ViewBag.Blank; i++)
{
    <span class="glyphicon glyphicon-star-empty"></span>
}
