﻿@{
    ViewBag.Title = "Zapomniałeś hasła? Przyślemy ci nowe!";
}

<h4>Podaj swój adres e-mail, żebyśmy mogli wysłać Ci link do utworzenia nowego hasła.</h4>
@using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @ViewBag.Error
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@@</span>
            <input type="text" class="form-control" placeholder="E-mail" name="mail">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Resetuj" />
        </div>
    </div>
}

