﻿@model cookwithme.Models.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

@using (Html.BeginForm("Login", "Account", new { @returnURL = ViewBag.ReturnURL }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Zaloguj się</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Zaloguj" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            Zapomniałeś hasła? @Html.ActionLink("Zresetuj je", "ForgottenPassword", new {controller = "Account" })
            <br />
            Nie masz konta?
            @Html.ActionLink("Zarejestruj się", "Register", new {controller = "Account"}, new {@class = "btn btn-info" })
        </div>
    </div>
}

