﻿@model IDictionary<cookwithme.Models.ApplicationUser, bool>
@{
    ViewBag.Title = "Zarządzaj użytkownikami";
    int licznik = 1;
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Użytkownicy</div>

    <!-- Table -->
    <table class="table tablesorter" id="users_table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nick</th>
                <th>E-mail</th>
                <th>Zarejestrowany</th>
                <th>Zmień uprawnienia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(licznik++)</td>
                    <td>@item.Key.UserName</td>
                    <td>@item.Key.Email</td>
                    <td>@item.Key.registered.ToString()</td>
                    @using (Html.BeginForm("ModeratorSetter", "Account", new { id = item.Key.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <td>
                            @if (item.Value)
                            {
                                <a class="btn btn-success disabled" href="#">Moderator</a>
                                <input type="submit" class="btn btn-default" value="Użytkownik" title="Usuń użytkownikowi uprawnienia moderatora" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" value="Moderator" title="Dodaj użytkownikowi uprawnienia moderatora" />
                                <a class="btn btn-default disabled" href="#">Użytkownik</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#users_table").tablesorter();
    }
    );
</script>