﻿@{
    bool isUser = User.IsInRole("User");
    bool isModerator = User.IsInRole("Moderator");
    bool isAdministrator = User.IsInRole("Administrator");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook With Me! - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar">as</span>
                    <span class="icon-bar">sd</span>
                    <span class="icon-bar">asd</span>
                </button>
                @Html.ActionLink("CookWithMe", "Index", "Dishes", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Wyszukaj", "Search", "Dishes")</li>
                    <li>@Html.ActionLink("Statystyki", "Index", "Statistics")</li>
                    @if (isUser)
                    {
                        <li>@Html.ActionLink("Dodaj", "Create", "Dishes")</li>
                    }
                    @if (isModerator)
                    {
                        <li>@Html.ActionLink("Zarządzaj", "Manage", "Dishes")</li>
                    }
                    @if (isAdministrator)
                    {
                        <li>@Html.ActionLink("Użytkownicy", "Manage", "Account")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2014 mrleon. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("scripts", required: false)

</body>
</html>
